2025/05/28/e7jIyq276y4pJXsO.json
{"nodes":[{"parameters":{},"id":"a29b7436-82d7-4f52-bbbf-480208256c09","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"predefinedCredentialType","url":"https://us-central1-aiplatform.googleapis.com/v1/projects/YOUR_PROJECT_ID/locations/us-central1/publishers/google/models/gemini-pro:generateContent","jsonParameters":true,"options":{}},"id":"96c645e2-c834-4835-ba5f-a521c08b48e1","name":"Generate Script (Vertex AI)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[200,0]},{"parameters":{"values":{"string":[{"name":"script","value":"={{ $json.contents[0].parts[0].text }}"}]},"options":{}},"id":"664c1860-eacd-4fcb-8257-e3c1990485f8","name":"Extract Script","type":"n8n-nodes-base.set","typeVersion":1,"position":[400,0]},{"parameters":{"authentication":"headerAuth","url":"https://api.creatomate.com/v1/renders","jsonParameters":true,"options":{}},"id":"24e34056-57be-4e50-9e98-0d37a92e7383","name":"Generate Video (Creatomate)","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,0]},{"parameters":{"unit":"seconds"},"id":"3ff5d373-01c2-442a-bcc9-69c6813d1181","name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[800,0],"webhookId":"daffc318-5d8a-45d1-9a65-f812f507c82a"},{"parameters":{"authentication":"headerAuth","url":"https://api.creatomate.com/v1/renders/{{ $json.id }}","jsonParameters":true,"options":{}},"id":"8d52e553-4e8a-407d-8013-921ae93d1857","name":"Check Video Status","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1000,0]},{"parameters":{"url":"YOUR_DISCORD_WEBHOOK_URL","jsonParameters":true,"options":{}},"id":"4b67c115-a177-4dd8-b214-8271529af7bb","name":"Notify Discord","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1200,0]}],"connections":{"Manual Trigger":{"main":[[{"node":"Generate Script (Vertex AI)","type":"main","index":0}]]},"Generate Script (Vertex AI)":{"main":[[{"node":"Extract Script","type":"main","index":0}]]},"Extract Script":{"main":[[{"node":"Generate Video (Creatomate)","type":"main","index":0}]]},"Generate Video (Creatomate)":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Check Video Status","type":"main","index":0}]]},"Check Video Status":{"main":[[{"node":"Notify Discord","type":"main","index":0}]]}},"pinData":{},"meta":null}