2025/05/30/wjIc9BMqkoJnP9so.json
{"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_2711911149558664797"],"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-280,-160],"id":"440c8bf4-4a91-46e5-ade4-10c1d7df769f","name":"Gmail Trigger2","credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_2711911149558664797"],"readStatus":"unread"}},"id":"4cf34f7e-7164-4465-9486-f0913b36e0f5","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-80,0],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"resource":"message","operation":"get","messageId":"={{$json[\"id\"]}}","additionalFields":{}},"id":"9ee36dbf-195a-4618-9ede-a0f3be668573","name":"Get Email Body","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[120,0],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"functionCode":"const json = $json;\n\nconst subject = json.subject || 'No Subject';\n\nconst fromEmail = (json.from?.value && json.from.value.length > 0) \n    ? json.from.value[0].address \n    : 'Unknown sender';\n\nconst toEmail = (json.to?.value && json.to.value.length > 0) \n    ? json.to.value[0].address \n    : 'Unknown recipient';\n\n// Extract body from text or HTML content\nconst body = json.html || json.text || 'No body content found';\n\n\nreturn [{\n  from: fromEmail,\n  to: toEmail,\n  subject,\n  body\n}];"},"id":"8da40141-a8a6-425e-9558-23ce6f1e8c59","name":"Decode Base64 Body","type":"n8n-nodes-base.function","typeVersion":1,"position":[340,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list"},"messages":{"values":[{"content":"=Classify the following email subject into one of the categories:\n- Early Payment Notification\n- Client Message\n- Job Invitation\n- Contract \n- Promotional Content\n- Other\n\nSubject: \t{{$json[\"subject\"]}}\n\nOnly return the category name."}]},"options":{}},"id":"23970e51-f89b-4115-ab5d-a443a9e05d90","name":"Classify Email","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[580,0],"credentials":{"openAiApi":{"id":"Dqcfush3u5R5rndN","name":"OpenAi account"}}},{"parameters":{"functionCode":"const category = $items(\"classify-subject\")[0].json.message.content.trim();\nconst body = $items(\"decode-body\")[0].json.body;\n\nlet detail = \"No data\";\n\nif (category === \"Early Payment Notification\") {\n  const match = body.match(/Estimated earnings\\*?\\s*\\$([\\d.]+)/i);\n  detail = match ? `Estimated earnings: $${match[1]}` : \"Earnings not found\";\n} else if (category === \"Job Invitation\") {\n  const linkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/.*?\\/jobs\\/[^\\s]+/i);\n  detail = linkMatch ? `Job Link: ${linkMatch[0]}` : \"No job link found\";\n} else if (category === \"Contract\") {\n  const statusMatch = body.match(/contract (started|paused|ended)/i);\n  detail = statusMatch ? `Contract status: ${statusMatch[1]}` : \"No contract status found\";\n}\n\nreturn [{ classification: category, detail }];"},"id":"5a7c0887-bd84-44bf-8c8d-fa8637c4bf2e","name":"Extract Detail","type":"n8n-nodes-base.function","typeVersion":1,"position":[980,0]},{"parameters":{"webhookUri":"https://discordapp.com/api/webhooks/1377918526085660794/5MDmQ9NaDkMk6bIBZ81yfhknCxa1i44uGhta6t0ThKRl6-gGVkauWErXsWUbGeMGnVjP","text":"=📬 New Upwork Email\n**Category**: {{$json[\"classification\"]}}\n**Detail**: {{$json[\"detail\"]}}","options":{}},"id":"2374d798-3c3f-4a7d-b741-1eb9d8f7cf12","name":"Send to Discord","type":"n8n-nodes-base.discord","typeVersion":1,"position":[1180,-120]}],"connections":{"Gmail Trigger2":{"main":[[]]},"Gmail Trigger":{"main":[[{"node":"Get Email Body","type":"main","index":0}]]},"Get Email Body":{"main":[[{"node":"Decode Base64 Body","type":"main","index":0}]]},"Decode Base64 Body":{"main":[[{"node":"Classify Email","type":"main","index":0}]]},"Classify Email":{"main":[[{"node":"Extract Detail","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}