2025/05/31/6Mlh2e5Gc1MxL7Xg.json
{"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_2711911149558664797"],"readStatus":"unread"}},"id":"ab283d90-c4c2-4756-bcb0-19ac9333bc84","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-820,280],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"resource":"message","operation":"get","messageId":"={{$json[\"id\"]}}","additionalFields":{}},"id":"34b68cbc-1530-47cc-bae4-312b8fe25285","name":"Get Email Body","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[-620,280],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"functionCode":"const item = $json.item || $json; // Handle both single items and arrays\n\n// Extract subject, from, and to\nconst subject = item.subject?.trim() || 'No Subject';\nconst fromEmail = item.from?.value?.[0]?.address || 'Unknown sender';\nconst toEmail = item.to?.value?.[0]?.address || 'Unknown recipient';\n\n// Extract body (prefer text, fallback to HTML)\nlet body = item.text?.trim() || item.html?.trim() || 'No body content found';\n\n// Optional: Convert HTML to plaintext if needed (basic example)\nif (body === item.html) {\n  body = body\n    .replace(/<[^>]+>/g, ' ') // Remove HTML tags\n    .replace(/\\s+/g, ' ')      // Collapse multiple spaces\n    .trim();\n}\n\nconst jobLinkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/ab\\/proposals[^\\s]+/);\nconst jobLink = jobLinkMatch ? jobLinkMatch[0] : 'No link found';\n\nreturn [{\n  from: fromEmail,\n  to: toEmail,\n  subject,\n  body\n}];"},"id":"60f71f29-cb87-4311-a8cb-bb48cf830777","name":"Decode Base64 Body","type":"n8n-nodes-base.function","typeVersion":1,"position":[-400,280]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list"},"messages":{"values":[{"content":"=Classify the following email subject into one of the categories:\n- Early Payment Notification\n- Client Message\n- Job Invitation\n- Contract\n- Promotional Content\n- Other\n\nSubject: \t{{$json[\"subject\"]}}\n\nOnly return the category name."}]},"options":{}},"id":"7f25875c-3e22-4754-aa98-701bda7c3480","name":"Classify Email","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[-160,280],"credentials":{"openAiApi":{"id":"Dqcfush3u5R5rndN","name":"OpenAi account"}}},{"parameters":{"jsCode":"// **Extract Additional Details (Job/Payment Info)**\nconst category = $items(\"Classify Email\")[0].json.message.content.trim();\nconst body = $items(\"Decode Base64 Body\")[0].json.body;\n\nlet detail = \"No additional data found\";\n\n// **Category-Specific Extraction Logic**\nswitch (category) {\n  case \"Early Payment Notification\":\n    // **Estimated Earnings Extraction**\n    const earningsMatch = body.match(/Estimated earnings\\s*\\$([^\\s]+)/i);\n    detail = earningsMatch ? `Estimated earnings: $${earningsMatch[1]}` : \"Earnings not found\";\n    break;\n  case \"Job Invitation\":\n    // **Job Link Extraction (Updated for better matching)**\n    const linkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/ab\\/proposals\\/[^\\/\\s]+\\/?(?:\\/interview\\/[^\\/\\s]+)?/i);\n    detail = linkMatch ? `Job Link: ${linkMatch[0]}` : \"No job link found\";\n    \n    // **Job Title Extraction (Assuming a specific format, adjust regex as needed)**\n    const titleMatch = body.match(/(?:React|Frontend) Developer:?\\s*(?:\\(|$)/i);\n    if (titleMatch) {\n      detail += `\\nJob Title: ${titleMatch[0].trim()}`; // **Trim for cleaner output**\n    }\n    break;\n  case \"Contract\":\n    // **Contract Status Extraction**\n    const statusMatch = body.match(/contract (started|paused|ended)/i);\n    detail = statusMatch ? `Contract status: ${statusMatch[1]}` : \"No contract status found\";\n    break;\n  // **Add more cases as needed for other categories**\n  default:\n    // **Optional: Log or handle unrecognized categories**\n    console.log(`Unhandled category for additional details: ${category}`);\n}\n\n// **Output**\nreturn [{\n  classification: category,\n  detail\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[360,300],"id":"44cf3861-dcb6-4f50-bfba-4c3f763c6870","name":"Code"},{"parameters":{"webhookUri":"https://discord.com/api/webhooks/1377918526085660794/5MDmQ9NaDkMk6bIBZ81yfhknCxa1i44uGhta6t0ThKRl6-gGVkauWErXsWUbGeMGnVjP","text":"=📬 New Upwork Email\n**Category**: {{$json[\"classification\"]}}\n**Detail**: {{$json[\"detail\"]}}","options":{}},"id":"60d92f01-5f0b-4678-8c3a-bfcd6d7b21ab","name":"Send to Discord","type":"n8n-nodes-base.discord","typeVersion":1,"position":[640,300]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Get Email Body","type":"main","index":0}]]},"Get Email Body":{"main":[[{"node":"Decode Base64 Body","type":"main","index":0}]]},"Decode Base64 Body":{"main":[[{"node":"Classify Email","type":"main","index":0}]]},"Classify Email":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Send to Discord","type":"main","index":0}]]}},"pinData":{},"meta":null}