2025/05/31/w1LScWdEWCvVuV2a.json
{"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":["Label_2711911149558664797"],"q":"is:unread"},"options":{}},"name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-160,100],"id":"2af40e8b-8f21-4fc5-8ae6-03dfe606ad39","credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"content":"#### Gmail Trigger\n- Use your Gmail OAuth2 credentials (set below).\n- Configure filters (e.g., labelIds or search query) to target relevant emails (e.g., 'is:unread').\n- Poll interval sets how often to check for new emails."},"name":"Note: Gmail Trigger config","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-160,-100],"id":"2ce72cfc-4474-4c6f-80aa-4682df7146ca"},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"name":"Get Email","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[140,100],"id":"56360bdb-a0ea-4906-8a41-9df56abf02b1","webhookId":"32d59086-d4a9-4cd4-b045-2969b7edefbf","credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"content":"#### Get Email\n- Fetches full email content using the message ID from the trigger.\n- Ensure Gmail OAuth2 credential is set (same as above).\n- Use `Subject` and `snippet` (or `text`) fields for classification."},"name":"Note: Extract email content","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,-100],"id":"99c111c0-250b-4bfc-9850-3a40a2381f32"},{"parameters":{},"name":"Delay 3s","type":"n8n-nodes-base.wait","typeVersion":1,"position":[940,100],"id":"dc61b9ad-3ed4-4bd4-94d4-142e390df0c4","webhookId":"27f570ae-39f9-43c8-8902-8e02d5c841f5"},{"parameters":{},"name":"Classify Email","type":"n8n-nodes-base.openaiChat","typeVersion":1,"position":[740,100],"id":"45ded93e-bb6b-4da5-9dd6-8d27d0709ab3","credentials":{}},{"parameters":{"mode":"expression"},"name":"Category Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1140,100],"id":"afc3bf0c-854e-47f3-baac-6d575df21112"},{"parameters":{"url":"https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN","jsonParameters":true,"options":{}},"name":"Discord - Job","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1340,60],"id":"b4480571-53d7-4a4e-ab8e-65321ff330af"},{"parameters":{"url":"https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN","jsonParameters":true,"options":{}},"name":"Discord - Promo","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1340,100],"id":"17acba7a-eb3c-476b-a1c7-24a9190c579e"},{"parameters":{"url":"https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN","jsonParameters":true,"options":{}},"name":"Discord - Other","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[1340,160],"id":"de3e4ec9-3fd3-4af0-9aa5-360e659dde90"},{"parameters":{"content":"#### Discord Notifications\n- Enter your Discord Webhook URL in the nodes above (replace placeholder URL).\n- Customize message content, emojis, or embed styling per category.\n- Keep the webhook URL and content templates secure."},"name":"Note: Discord Webhook","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1340,-100],"id":"50d41283-a283-42a2-b902-6175ebcf8ee5"},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"name":"Mark as Read - Job","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1540,60],"id":"7e42707f-62c4-4722-bce5-cbd16f84a1f0","webhookId":"7fe2a8af-c4ea-4a2d-b64d-a9ea2cdb2e65"},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"name":"Mark as Read - Promo","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1540,100],"id":"d03aec91-29f4-4c1f-a60c-62181b0a4e43","webhookId":"a83b8786-ce16-419d-b7e8-3883b0514ae2"},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"name":"Mark as Read - Other","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1540,160],"id":"bca402ec-17d6-4a37-bfd6-287446dc28fd","webhookId":"73f97322-9200-43a4-83a9-5f5bb7e7d3ea"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Get Email","type":"main","index":0}]]},"Get Email":{"main":[[{"node":"Delay 3s","type":"main","index":0}]]},"Category Switch":{"main":[[{"node":"Discord - Job","type":"main","index":0}],[{"node":"Discord - Promo","type":"main","index":0}],[{"node":"Discord - Other","type":"main","index":0}]]},"Discord - Job":{"main":[[{"node":"Mark as Read - Job","type":"main","index":0}]]},"Discord - Promo":{"main":[[{"node":"Mark as Read - Promo","type":"main","index":0}]]},"Discord - Other":{"main":[[{"node":"Mark as Read - Other","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}