2025/05/31/wjIc9BMqkoJnP9so.json
{"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_2711911149558664797"],"readStatus":"unread"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-280,-160],"id":"440c8bf4-4a91-46e5-ade4-10c1d7df769f","name":"Gmail Trigger2","credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}},"disabled":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{"labelIds":["Label_2711911149558664797"],"readStatus":"unread"}},"id":"4cf34f7e-7164-4465-9486-f0913b36e0f5","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-80,0],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"resource":"message","operation":"get","messageId":"={{$json[\"id\"]}}","additionalFields":{}},"id":"9ee36dbf-195a-4618-9ede-a0f3be668573","name":"Get Email Body","type":"n8n-nodes-base.gmail","typeVersion":1,"position":[120,0],"credentials":{"gmailOAuth2":{"id":"XrwBYBoaTlsy2dGw","name":"Gmail account"}}},{"parameters":{"functionCode":"const item = $json.item || $json; // Handle both single items and arrays\n\n// Extract subject, from, and to\nconst subject = item.subject?.trim() || 'No Subject';\nconst fromEmail = item.from?.value?.[0]?.address || 'Unknown sender';\nconst toEmail = item.to?.value?.[0]?.address || 'Unknown recipient';\n\n// Extract body (prefer text, fallback to HTML)\nlet body = item.text?.trim() || item.html?.trim() || 'No body content found';\n\n// Optional: Convert HTML to plaintext if needed (basic example)\nif (body === item.html) {\n  body = body\n    .replace(/<[^>]+>/g, ' ') // Remove HTML tags\n    .replace(/\\s+/g, ' ')      // Collapse multiple spaces\n    .trim();\n}\n// Extract job link (Upwork-specific example)\nconst jobLinkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/ab\\/proposals[^\\s]+/);\nconst jobLink = jobLinkMatch ? jobLinkMatch[0] : 'No link found';\n\nreturn [{\n  from: fromEmail,\n  to: toEmail,\n  subject,\n  body\n}];"},"id":"8da40141-a8a6-425e-9558-23ce6f1e8c59","name":"Decode Base64 Body","type":"n8n-nodes-base.function","typeVersion":1,"position":[340,0]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list"},"messages":{"values":[{"content":"=Classify the following email subject into one of the categories:\n- Early Payment Notification\n- Client Message\n- Job Invitation\n- Contract \n- Promotional Content\n- Other\n\nSubject: \t{{$json[\"subject\"]}}\n\nOnly return the category name."}]},"options":{}},"id":"23970e51-f89b-4115-ab5d-a443a9e05d90","name":"Classify Email","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1,"position":[580,0],"credentials":{"openAiApi":{"id":"Dqcfush3u5R5rndN","name":"OpenAi account"}}},{"parameters":{"functionCode":"const category = $items(\"classify-subject\")[0].json.message.content.trim();\nconst body = $items(\"decode-body\")[0].json.body;\n\nlet detail = \"No additional data found\";\n\nif (category === \"Early Payment Notification\") {\n  const match = body.match(/Estimated earnings\\*?\\s*\\$([\\d.]+)/i);\n  detail = match ? `Estimated earnings: $${match[1]}` : \"Earnings not found\";\n} else if (category === \"Job Invitation\") {\n  // Updated regex to match Upwork interview/proposal links\n  const linkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/ab\\/proposals\\/interview\\/[^\\s]+/i);\n  detail = linkMatch ? `Job Link: ${linkMatch[0]}` : \"No job link found\";\n  \n  // Additional extraction for job title\n  const titleMatch = body.match(/React Developer: (https:\\/\\/[^\\s]+)/i);\n  if (titleMatch) {\n    detail += `\\nJob Title: React Developer`;\n  }\n} else if (category === \"Contract\") {\n  const statusMatch = body.match(/contract (started|paused|ended)/i);\n  detail = statusMatch ? `Contract status: ${statusMatch[1]}` : \"No contract status found\";\n}\n\nreturn [{\n  classification: category,\n  detail\n}];"},"id":"5a7c0887-bd84-44bf-8c8d-fa8637c4bf2e","name":"Extract Detail","type":"n8n-nodes-base.function","typeVersion":1,"position":[1020,360]},{"parameters":{"webhookUri":"https://discordapp.com/api/webhooks/1377918526085660794/5MDmQ9NaDkMk6bIBZ81yfhknCxa1i44uGhta6t0ThKRl6-gGVkauWErXsWUbGeMGnVjP","text":"=📬 New Upwork Email\n**Category**: {{$json[\"classification\"]}}\n**Detail**: {{$json[\"detail\"]}}","options":{}},"id":"2374d798-3c3f-4a7d-b741-1eb9d8f7cf12","name":"Send to Discord","type":"n8n-nodes-base.discord","typeVersion":1,"position":[1360,20]},{"parameters":{"jsCode":"const category = $items(\"classify-subject\")[0].json.message.content.trim();\nconst body = $items(\"decode-body\")[0].json.body;\n\nlet detail = \"No additional data found\";\n\nif (category === \"Early Payment Notification\") {\n  const match = body.match(/Estimated earnings\\*?\\s*\\$([\\d.]+)/i);\n  detail = match ? `Estimated earnings: $${match[1]}` : \"Earnings not found\";\n} else if (category === \"Job Invitation\") {\n  // Updated regex to match Upwork interview/proposal links\n  const linkMatch = body.match(/https:\\/\\/www\\.upwork\\.com\\/ab\\/proposals\\/interview\\/[^\\s]+/i);\n  detail = linkMatch ? `Job Link: ${linkMatch[0]}` : \"No job link found\";\n  \n  // Additional extraction for job title\n  const titleMatch = body.match(/React Developer: (https:\\/\\/[^\\s]+)/i);\n  if (titleMatch) {\n    detail += `\\nJob Title: React Developer`;\n  }\n} else if (category === \"Contract\") {\n  const statusMatch = body.match(/contract (started|paused|ended)/i);\n  detail = statusMatch ? `Contract status: ${statusMatch[1]}` : \"No contract status found\";\n}\n\nreturn [{\n  classification: category,\n  detail\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,20],"id":"1b6df972-95c7-4c1e-934e-7a72c4d02233","name":"Code"}],"connections":{"Gmail Trigger2":{"main":[[]]},"Gmail Trigger":{"main":[[{"node":"Get Email Body","type":"main","index":0}]]},"Get Email Body":{"main":[[{"node":"Decode Base64 Body","type":"main","index":0}]]},"Decode Base64 Body":{"main":[[{"node":"Classify Email","type":"main","index":0}]]},"Classify Email":{"main":[[{"node":"Code","type":"main","index":0}]]},"Extract Detail":{"main":[[]]},"Code":{"main":[[{"node":"Send to Discord","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}