2025/05/29/0v7VwnmCfS7k2Xrx.json
{"nodes":[{"parameters":{},"id":"fea29135-d22d-4a36-bb78-d16c21337959","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[780,100],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"5c866779-4b0e-4592-8127-a1b3b2531d5b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[540,620],"typeVersion":1},{"parameters":{},"id":"f886338e-f202-4eab-935b-6005ee9cd702","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[560,1040],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"75ab84f6-a862-4f8b-aee9-318235077c14","name":"n8n","type":"n8n-nodes-base.n8n","position":[1180,200],"typeVersion":1,"credentials":{"n8nApi":{"id":"rlAXvHQbURUEjC3B","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"ff90e52b-cacc-4b11-be56-e225d0ebcd24","name":"Return","type":"n8n-nodes-base.set","position":[2520,840],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"3c3d5f7f-bb82-4970-955c-0deec48f12c2","name":"If file too large","type":"n8n-nodes-base.if","position":[1200,760],"typeVersion":2},{"parameters":{},"id":"23255284-e3fd-4397-b5af-4a447023b0eb","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1200,1020],"typeVersion":2},{"parameters":{},"id":"2abc134a-e964-4526-964b-5969cd233922","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2060,840],"typeVersion":1},{"parameters":{},"id":"5ccff535-86e2-43ab-8a3f-069cafc288c2","name":"File is different","type":"n8n-nodes-base.noOp","position":[2060,1000],"typeVersion":1},{"parameters":{},"id":"47927170-9087-49d9-a022-8a48faec399a","name":"File is new","type":"n8n-nodes-base.noOp","position":[2060,1200],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"c91f65f0-93ba-4b3e-864b-60f70d56a816","name":"Create new file","type":"n8n-nodes-base.github","position":[2280,1200],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"uzvXZuPKy0PHhKqF","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"b94ac989-71db-436d-9189-e3916bb9987a","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2280,1000],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"uzvXZuPKy0PHhKqF","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"e8cd094d-6a68-4e81-bb2e-66460737a15f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1380,200],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"171459c5-b359-4fcc-b985-5fd50e25378d","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[780,300],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"887a776c-b884-446e-8dc3-793a97e39bd4","name":"Create sub path","type":"n8n-nodes-base.set","position":[1640,1020],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"170853c0-6325-4627-9cd9-2f3c6fa256e9","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[540,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=yashkabra143"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"2600945e-90b3-46cd-823a-ae345e50073a","name":"Config","type":"n8n-nodes-base.set","position":[820,1040],"typeVersion":3.4},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"a3ae7e73-77dc-4654-95a4-d5f53446d604","name":"Starting Message","type":"n8n-nodes-base.discord","position":[980,200],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"ikkG6F3P64LXDYW4","name":"Discord Webhook account"}}},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{}},"id":"98bc5749-afa0-4c6c-97e6-cec87f21e6e0","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2020,60],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2,"credentials":{"discordWebhookApi":{"id":"ikkG6F3P64LXDYW4","name":"Discord Webhook account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"3630c836-fc6c-4ac0-ad06-0dfc34932038","name":"Get file data","type":"n8n-nodes-base.github","position":[1000,760],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"uzvXZuPKy0PHhKqF","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"0f2ce33c-7036-463c-b215-436e26f3079c","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1800,300],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"ac6bac30-5937-4f4a-a79d-354e8225a543","name":"Wait","type":"n8n-nodes-base.wait","position":[2020,400],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"77e2f19b-c105-4036-abe7-f0325c506106","name":"Get file","type":"n8n-nodes-base.github","position":[1420,740],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"uzvXZuPKy0PHhKqF","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"e6aff792-8591-4c7d-8279-ba17a1e86198","name":"Wait1","type":"n8n-nodes-base.wait","position":[1800,60],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"let fileInput = null;\nconst firstInput = $input.first().json;\n\ntry {\n  if (firstInput.content) {\n    fileInput = JSON.parse(Buffer.from(firstInput.content, 'base64').toString());\n  }\n} catch (err) {\n  return {\n    githubStatus: \"parse_error\",\n    error: err.message\n  };\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\n// Compare by JSON structure\nfunction deepEqual(obj1, obj2) {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\nif (deepEqual(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"5b2c9cf5-faf4-4c16-b092-38537ad08674","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1420,1020],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"0eced64a-4e36-4c2e-aa12-71020249c379","name":"Switch","type":"n8n-nodes-base.switch","position":[1840,1020],"typeVersion":3.2},{"parameters":{"amount":10},"id":"15a96ec4-b6f7-450c-a69c-35527a5ccbfd","name":"Wait2","type":"n8n-nodes-base.wait","position":[2020,220],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"cdde1a49-a3fb-4b37-8d7e-89bc25852076","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[-140,-40],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.name }}\n```","options":{}},"id":"27844ce2-b157-4ecc-867b-5982f23feb0e","name":"Inform Success Flows","type":"n8n-nodes-base.discord","position":[2220,220],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"4a3739d0-470a-4170-b655-01278f71394d","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2220,400],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"ikkG6F3P64LXDYW4","name":"Discord Webhook account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}