2025/05/27/3wYH2dP1pR4QmEJl.json
{"nodes":[{"parameters":{},"id":"da6d036a-7d0b-4075-9a57-7951be293f4e","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[920,140],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"9b146753-4a0a-4d6c-ac88-e499d55140af","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[680,660],"typeVersion":1},{"parameters":{},"id":"615d5fb2-dd8f-4e42-8c47-5282183254ae","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[700,1080],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"a6645a87-bee3-418a-9e5c-7f26b4dc940f","name":"n8n","type":"n8n-nodes-base.n8n","position":[1320,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"EbMmgGbHzDOmn2vO","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"244f16c5-c155-4376-ab5c-a4dcffa60863","name":"Return","type":"n8n-nodes-base.set","position":[2660,880],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"499ccf96-3200-4b99-a8b0-417682fff339","name":"If file too large","type":"n8n-nodes-base.if","position":[1340,800],"typeVersion":2},{"parameters":{},"id":"ad577f1d-10b6-4cbb-90a8-a26b72cf8017","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1340,1060],"typeVersion":2},{"parameters":{},"id":"82149cc3-b97c-4144-ae09-eb38d1909b58","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2200,880],"typeVersion":1},{"parameters":{},"id":"521b4ca8-0fac-4b6d-b8c1-87bed8776b3d","name":"File is different","type":"n8n-nodes-base.noOp","position":[2200,1040],"typeVersion":1},{"parameters":{},"id":"7eb8d732-032e-43a6-8712-ddb936035db8","name":"File is new","type":"n8n-nodes-base.noOp","position":[2200,1240],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"d833ab06-b427-42da-bb9b-a86ebdad54e7","name":"Create new file","type":"n8n-nodes-base.github","position":[2420,1240],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"wrjXL14Eo7XSxUIU","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"480db748-b69e-4de9-8da0-866520d57435","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2420,1040],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"wrjXL14Eo7XSxUIU","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"c6c83c4f-1a4d-4c33-b639-65880b5b61ad","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1520,240],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"596e53dd-1f0e-4c61-bccf-e2116a5d43eb","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[920,340],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"6f47d5d5-6d5d-4993-af58-ea6b23b56ccc","name":"Create sub path","type":"n8n-nodes-base.set","position":[1780,1060],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"c2cc92c4-4011-4498-8051-62c3df3e9056","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,40],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=yashkabra143"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"df32302c-e91f-491f-938b-fbd4e7a7fdda","name":"Config","type":"n8n-nodes-base.set","position":[960,1080],"typeVersion":3.4},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"fa50bebc-c0bd-4a94-9ed2-af6cd927db25","name":"Starting Message","type":"n8n-nodes-base.discord","position":[1120,240],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"pUAU010GmtWsQtPb","name":"Discord Webhook account"}}},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{}},"id":"e10bca4f-e3d9-499f-a3ae-74c185f5b63c","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2160,100],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"2d54c5ab-f13e-490b-a149-50715d6a2536","name":"Get file data","type":"n8n-nodes-base.github","position":[1140,800],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"wrjXL14Eo7XSxUIU","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"4bbc3c0b-bfd1-48d0-b3a4-535db51c3951","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1940,340],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"40f0b2d3-b47b-432b-9862-1768149e3fe3","name":"Wait","type":"n8n-nodes-base.wait","position":[2160,440],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"4895f34c-b41c-4e9b-8f78-d31e8e8b4eea","name":"Get file","type":"n8n-nodes-base.github","position":[1560,780],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"wrjXL14Eo7XSxUIU","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"eb851221-6b68-40d5-b5c7-68fd35ee71d1","name":"Wait1","type":"n8n-nodes-base.wait","position":[1940,100],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"let fileInput = null;\nconst firstInput = $input.first().json;\n\ntry {\n  if (firstInput.content) {\n    fileInput = JSON.parse(Buffer.from(firstInput.content, 'base64').toString());\n  }\n} catch (err) {\n  return {\n    githubStatus: \"parse_error\",\n    error: err.message\n  };\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\n// Compare by JSON structure\nfunction deepEqual(obj1, obj2) {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\nif (deepEqual(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"55f486fb-b1c2-453b-b367-299edb9e0a9b","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1560,1060],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"12736f3c-4a11-4e18-9473-7b70e196a124","name":"Switch","type":"n8n-nodes-base.switch","position":[1980,1060],"typeVersion":3.2},{"parameters":{"amount":10},"id":"8e897c77-d51f-447d-a345-804ba1ea6a08","name":"Wait2","type":"n8n-nodes-base.wait","position":[2160,260],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"59ff632b-6136-4d7b-8872-54863131a13c","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.name }}\n```","options":{}},"id":"53062781-ea12-49d9-808c-e46cf5b9e847","name":"Inform Success Flows","type":"n8n-nodes-base.discord","position":[2360,260],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"d6007c9c-18ca-4b1d-83a1-1b556d0b7265","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2360,440],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"pinData":{},"meta":null}