2025/05/25/rCeduV9V4H3fo5Ss.json
{"nodes":[{"parameters":{},"id":"bac84675-5852-4eca-a215-75de15db4581","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[940,100],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"6c55065b-ea1c-44da-b202-640856ca5e61","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[700,620],"typeVersion":1},{"parameters":{},"id":"e21b02cf-a0d1-4620-8a0e-2fd8d94d85f8","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[720,1040],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"c0636ef8-9614-43d9-b1a5-425d6ba5a51f","name":"n8n","type":"n8n-nodes-base.n8n","position":[1340,200],"typeVersion":1,"credentials":{"n8nApi":{"id":"wCXYo6bhwNezkTiz","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"2440502a-2fc5-403d-9e26-7c84ff046fbf","name":"Return","type":"n8n-nodes-base.set","position":[2680,840],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"69760b93-7bb1-43ee-8e1e-dd7d1ef8fb1a","name":"If file too large","type":"n8n-nodes-base.if","position":[1360,760],"typeVersion":2},{"parameters":{},"id":"da45e334-bffe-4bda-820b-8a9dd569ec06","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1360,1020],"typeVersion":2},{"parameters":{},"id":"e76c7882-95de-4799-bd58-5a5a93669cc9","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2220,840],"typeVersion":1},{"parameters":{},"id":"859f2eb2-db70-4302-a1ed-458cfff2038b","name":"File is different","type":"n8n-nodes-base.noOp","position":[2220,1000],"typeVersion":1},{"parameters":{},"id":"1c1b3d1d-4b1e-4b66-9122-9ee06d57efbf","name":"File is new","type":"n8n-nodes-base.noOp","position":[2220,1200],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"d30be2de-ba37-4279-9250-9a41928364c4","name":"Create new file","type":"n8n-nodes-base.github","position":[2440,1200],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"UhTVIeZ5dpd8ciPY","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"383a2949-1f7c-43c5-b7c2-854f1baaab87","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2440,1000],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"UhTVIeZ5dpd8ciPY","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"b948cbe6-1235-4be6-8a1b-766d0c9cbb17","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1540,200],"typeVersion":3},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[6],"triggerAtHour":1}]}},"id":"67f17f6c-bb10-49e1-88fe-8749cf48f73e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[940,300],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"7227cd3d-8917-4d47-8bc5-8fe2e7268f63","name":"Create sub path","type":"n8n-nodes-base.set","position":[1800,1020],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"6cd6e9df-95ed-4760-836e-c3edbe6e3076","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[700,0],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=yashkabra143"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"d300230c-ab51-402f-aa39-30e0c2f6543f","name":"Config","type":"n8n-nodes-base.set","position":[980,1040],"typeVersion":3.4},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"e3c549cf-f4be-40d8-a78f-bddcbba37e59","name":"Starting Message","type":"n8n-nodes-base.discord","position":[1140,200],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"9jn7eXviUZJPZF03","name":"Discord Webhook account"}}},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{}},"id":"df9f7f55-cd85-496d-ac7d-57bfcd22e476","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2180,60],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2,"credentials":{"discordWebhookApi":{"id":"Es8zNN1TdfrI3Sun","name":"Discord Webhook account 2"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"2a7b09b7-ccc9-4214-92c5-3881ba4b688c","name":"Get file data","type":"n8n-nodes-base.github","position":[1160,760],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"UhTVIeZ5dpd8ciPY","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"bc28c131-cbcf-4d6d-bb82-1c31c66ba270","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1960,300],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"ba79528e-409b-4f5d-8822-763023910fcf","name":"Wait","type":"n8n-nodes-base.wait","position":[2180,400],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"d0aaeefc-a079-42d2-b8b8-b46cda20dffe","name":"Get file","type":"n8n-nodes-base.github","position":[1580,740],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"UhTVIeZ5dpd8ciPY","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"f3d6d8e3-732f-475b-a747-5d16c1c2478f","name":"Wait1","type":"n8n-nodes-base.wait","position":[1960,60],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"let fileInput = null;\nconst firstInput = $input.first().json;\n\ntry {\n  if (firstInput.content) {\n    fileInput = JSON.parse(Buffer.from(firstInput.content, 'base64').toString());\n  }\n} catch (err) {\n  return {\n    githubStatus: \"parse_error\",\n    error: err.message\n  };\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\n// Compare by JSON structure\nfunction deepEqual(obj1, obj2) {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\nif (deepEqual(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"37e26b71-2e13-43ab-8c3d-a1fdc91376f6","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1580,1020],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"d3de8342-7856-4e58-994e-d447df64683e","name":"Switch","type":"n8n-nodes-base.switch","position":[2000,1020],"typeVersion":3.2},{"parameters":{"amount":10},"id":"5c5ee87b-6ab1-49af-ac47-47586313ddb2","name":"Wait2","type":"n8n-nodes-base.wait","position":[2180,220],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"f11e8b25-85f1-4090-9487-f1306470d9a5","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[20,-40],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"d17660b2-63b5-4921-af33-c179584075ed","name":"Inform Success Flows","type":"n8n-nodes-base.discord","position":[2380,220],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"9jn7eXviUZJPZF03","name":"Discord Webhook account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"44ab63f0-c196-4627-aea7-810c25b73240","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2380,400],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"Es8zNN1TdfrI3Sun","name":"Discord Webhook account 2"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}