2025/05/26/0kJdTKjAoY9Zi6v9.json
{"nodes":[{"parameters":{},"id":"c51b29f0-4b17-4005-84c0-dcd5b84e3d87","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[920,140],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"952260ca-3cdb-440b-8f7a-be33bd98d248","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[680,660],"typeVersion":1},{"parameters":{},"id":"af213717-2a15-4e41-8a29-75bd7c3db557","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[700,1080],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"1395c651-4c7f-494f-a71f-9417c27d4156","name":"n8n","type":"n8n-nodes-base.n8n","position":[1320,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"kRwCeWGJivvxVmvY","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"176803fd-6939-4087-b07a-012d73efd705","name":"Return","type":"n8n-nodes-base.set","position":[2660,880],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"87103372-25f9-4d9f-9c6a-939963da0f67","name":"If file too large","type":"n8n-nodes-base.if","position":[1340,800],"typeVersion":2},{"parameters":{},"id":"eb60c1ac-3d92-485a-95d6-476d42d44ad4","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1340,1060],"typeVersion":2},{"parameters":{},"id":"26131c7d-7b78-4f18-b3a1-051227f2b245","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2200,880],"typeVersion":1},{"parameters":{},"id":"c2481d79-3876-456b-861f-d16838f721a1","name":"File is different","type":"n8n-nodes-base.noOp","position":[2200,1040],"typeVersion":1},{"parameters":{},"id":"eca4b833-42a6-4bd5-9f59-4f71b1c0eae6","name":"File is new","type":"n8n-nodes-base.noOp","position":[2200,1240],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"401558c8-a2f1-4048-8852-f8f9e01e8566","name":"Create new file","type":"n8n-nodes-base.github","position":[2420,1240],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"3ixrJgOj9NQWNZQI","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"6713b525-f66b-4a78-adc0-8693761a4d6f","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2420,1040],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"3ixrJgOj9NQWNZQI","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"5cb8206c-7e65-49f9-85e6-6d6d1f51d2f2","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1520,240],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"dc3306e5-db97-4855-ad99-df35a87d2afc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[920,340],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"79bdc908-62f0-4d2b-b002-f15a6d0d4268","name":"Create sub path","type":"n8n-nodes-base.set","position":[1780,1060],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"367fb4bc-49c2-45d0-a9e6-fcbbe488cbfd","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,40],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=yashkabra143"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"3540193b-c5f4-4228-9d9c-5a0684ffbcc8","name":"Config","type":"n8n-nodes-base.set","position":[960,1080],"typeVersion":3.4},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"0a196399-c795-47be-bb69-50cdc28d32d2","name":"Starting Message","type":"n8n-nodes-base.discord","position":[1120,240],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"S0iJYUIwa7DxgPlX","name":"Discord Webhook account"}}},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{}},"id":"e31d9b01-c494-4a58-bf76-d9310f0e1bce","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2160,100],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2,"credentials":{"discordWebhookApi":{"id":"S0iJYUIwa7DxgPlX","name":"Discord Webhook account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"d5b1d818-28f6-4dac-8ca5-5d6406d2cd94","name":"Get file data","type":"n8n-nodes-base.github","position":[1140,800],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"3ixrJgOj9NQWNZQI","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"34b67cc9-1b67-4124-a3c3-e3c6f8945d69","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1940,340],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"1e65baff-a9a9-43e2-a99e-bc2539b215a8","name":"Wait","type":"n8n-nodes-base.wait","position":[2160,440],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"43854887-4948-4817-8c01-7573b3da5114","name":"Get file","type":"n8n-nodes-base.github","position":[1560,780],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"3ixrJgOj9NQWNZQI","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"0d048977-b757-42fc-87a8-5766b0e170ab","name":"Wait1","type":"n8n-nodes-base.wait","position":[1940,100],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"let fileInput = null;\nconst firstInput = $input.first().json;\n\ntry {\n  if (firstInput.content) {\n    fileInput = JSON.parse(Buffer.from(firstInput.content, 'base64').toString());\n  }\n} catch (err) {\n  return {\n    githubStatus: \"parse_error\",\n    error: err.message\n  };\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\n// Compare by JSON structure\nfunction deepEqual(obj1, obj2) {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\nif (deepEqual(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"efad2c03-6b21-4c3d-8e0e-1026d8b59dca","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1560,1060],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"839f1171-9376-4ba6-b838-617330a6a1a5","name":"Switch","type":"n8n-nodes-base.switch","position":[1980,1060],"typeVersion":3.2},{"parameters":{"amount":10},"id":"c7d9cb66-debe-4abe-982d-32a85512da9c","name":"Wait2","type":"n8n-nodes-base.wait","position":[2160,260],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"adbd84f8-7af5-431f-a6c8-7f22aad10497","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.name }}\n```","options":{}},"id":"113c791c-3e63-486c-a3af-e6d27148b8d3","name":"Inform Success Flows","type":"n8n-nodes-base.discord","position":[2360,260],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"S0iJYUIwa7DxgPlX","name":"Discord Webhook account"}},"onError":"continueRegularOutput"},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"109bae72-ba56-4476-ba63-e6eaf858fc5b","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2360,440],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"S0iJYUIwa7DxgPlX","name":"Discord Webhook account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"pinData":{},"meta":{"templateCredsSetupCompleted":true}}