2025/05/26/2OLK6HI961SZCjIb.json
{"nodes":[{"parameters":{},"id":"edd8812f-9287-49f2-ada2-8215f64342f6","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[920,140],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":752,"width":2111,"color":6},"id":"35b93d1b-aa31-4fef-9225-5d02aa7f78a3","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[680,660],"typeVersion":1},{"parameters":{},"id":"ce36f0a0-ebe4-4301-96d2-e81252a35c87","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[700,1080],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2db43753-7427-44d5-a1d6-361c3a021d47","name":"n8n","type":"n8n-nodes-base.n8n","position":[1320,240],"typeVersion":1,"credentials":{"n8nApi":{"id":"wgEZoGXmMOafZ7E8","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"a0cc8360-4a99-43bc-8761-37bef5243f93","name":"Return","type":"n8n-nodes-base.set","position":[2660,880],"typeVersion":3.3},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"3ce332ca-3827-4c2d-becd-837da737d285","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"3c6e19b6-fb28-4d03-b091-5328f0028705","name":"If file too large","type":"n8n-nodes-base.if","position":[1340,800],"typeVersion":2},{"parameters":{},"id":"f0d1980c-a101-457a-b940-2543deb867cc","name":"Merge Items","type":"n8n-nodes-base.merge","position":[1340,1060],"typeVersion":2},{"parameters":{},"id":"ee67cc17-db5c-45f7-b98e-f8524c5155dd","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[2200,880],"typeVersion":1},{"parameters":{},"id":"041b68c5-2405-4324-82d1-18e29477bb93","name":"File is different","type":"n8n-nodes-base.noOp","position":[2200,1040],"typeVersion":1},{"parameters":{},"id":"5acbbbd6-c48b-4628-bec2-aac3a72d129d","name":"File is new","type":"n8n-nodes-base.noOp","position":[2200,1240],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.githubStatus}})"},"id":"d155b52c-1580-4645-85f5-c3a066e6048a","name":"Create new file","type":"n8n-nodes-base.github","position":[2420,1240],"webhookId":"fc6b1cf0-6440-4fb0-94bf-fadabb6ea1fd","typeVersion":1,"credentials":{"githubApi":{"id":"zGGurP9Fsmmwfdti","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').first().json.repo_name }}"},"filePath":"={{ $('Create sub path').item.json.subPath }}/{{ $('Execute Workflow Trigger').first().json.id }}.json","fileContent":"={{ JSON.stringify($('Config').first().json.data) }}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{ $json.githubStatus }})"},"id":"18310481-f2ed-4382-bfb2-445829965988","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2420,1040],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"zGGurP9Fsmmwfdti","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"4d4efd62-628e-41a6-ad25-4814f09b216f","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1520,240],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"id":"90a36179-c2e1-4c04-aa90-771249620609","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[920,340],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}"}]},"includeOtherFields":true,"options":{}},"id":"8ceeb40c-c519-46ac-942e-15c04fa8ec3d","name":"Create sub path","type":"n8n-nodes-base.set","position":[1780,1060],"typeVersion":3.3},{"parameters":{"content":"## Main workflow loop","height":616,"width":2113,"color":7},"id":"b6efd376-823b-48f1-8e28-9bc0061d7501","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[680,40],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"=yashkabra143"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"=n8n"},{"id":"2b38f96a-a970-4d13-900e-f15e4cd65c51","name":"data","type":"object","value":"={{\n  {\n    \"nodes\": $('Execute Workflow Trigger').item.json.nodes,\n    \"connections\": $('Execute Workflow Trigger').item.json.connections,\n    \"pinData\": $('Execute Workflow Trigger').item.json.pinData,\n    \"meta\": $('Execute Workflow Trigger').item.json.meta\n  }\n}}"}]},"includeOtherFields":true,"options":{}},"id":"80ed3acc-4897-4fe9-aa57-54fa51fdcd71","name":"Config","type":"n8n-nodes-base.set","position":[960,1080],"typeVersion":3.4},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Starting Workflow Backup [{{ $execution.id }}]\n```","options":{}},"id":"68e5ff41-9dab-4b11-b0fe-823b79328948","name":"Starting Message","type":"n8n-nodes-base.discord","position":[1120,240],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"eL7ekUicbhU1JdAN","name":"Discord Webhook account"}}},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.\n```","options":{}},"id":"03c5c418-3f31-4bb0-8bfa-0f7372aa9cdc","name":"Completed Notification","type":"n8n-nodes-base.discord","position":[2160,100],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","executeOnce":true,"typeVersion":2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"8ea95c37-f7ef-4007-8ac1-70baab4a05a5","name":"Get file data","type":"n8n-nodes-base.github","position":[1140,800],"webhookId":"883c4829-4a9d-4320-ab49-226a5bc15863","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"zGGurP9Fsmmwfdti","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{},"schema":[],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"id":"d2b7e424-aa52-42ec-a0ca-c919ae0eb2c1","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1940,340],"typeVersion":1.2,"onError":"continueErrorOutput"},{"parameters":{},"id":"5a634513-b0f0-497a-a7a4-fa36384b79f7","name":"Wait","type":"n8n-nodes-base.wait","position":[2160,440],"webhookId":"577d599b-e2eb-4e7c-92aa-b9ca787cc40a","typeVersion":1.1},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Config').item.json.repo_name }}"},"filePath":"={{ $now.setZone('UTC').toFormat('yyyy') }}/{{ $now.setZone('UTC').toFormat('MM') }}/{{ $now.setZone('UTC').toFormat('dd') }}/{{ $('Execute Workflow Trigger').item.json.id }}.json","additionalParameters":{}},"id":"49eb74db-94bb-4649-b128-63f5422199c2","name":"Get file","type":"n8n-nodes-base.github","position":[1560,780],"webhookId":"81fc5f33-06e3-4368-ba2e-0ef46dd8b021","typeVersion":1,"credentials":{"githubApi":{"id":"zGGurP9Fsmmwfdti","name":"GitHub account"}}},{"parameters":{"amount":10},"id":"3e892f8d-b193-49d0-88a3-4813e7ee9572","name":"Wait1","type":"n8n-nodes-base.wait","position":[1940,100],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"jsCode":"let fileInput = null;\nconst firstInput = $input.first().json;\n\ntry {\n  if (firstInput.content) {\n    fileInput = JSON.parse(Buffer.from(firstInput.content, 'base64').toString());\n  }\n} catch (err) {\n  return {\n    githubStatus: \"parse_error\",\n    error: err.message\n  };\n}\n\nconst n8nInput = $input.last().json.data;\n\nif (!fileInput) {\n  return {\n    githubStatus: \"new\"\n  };\n}\n\n// Compare by JSON structure\nfunction deepEqual(obj1, obj2) {\n  return JSON.stringify(obj1) === JSON.stringify(obj2);\n}\n\nif (deepEqual(fileInput, n8nInput)) {\n  return {\n    githubStatus: \"same\"\n  };\n} else {\n  return {\n    githubStatus: \"different\"\n  };\n}\n"},"id":"fc7ceb59-308a-42bc-a38a-672bcf46e7ce","name":"verifyTheDifference","type":"n8n-nodes-base.code","position":[1560,1060],"typeVersion":2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1e6de6b4-3074-41bc-8a9d-465c0eb9a773","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"same"}]},"renameOutput":true,"outputKey":"same"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"cf6e130e-c85d-4a24-b11a-abfd0ecfcb19","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"different"}]},"renameOutput":true,"outputKey":"different"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"f2fc6dda-85f5-4b81-b016-3e033b1dbcab","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $('verifyTheDifference').first().json.githubStatus }}","rightValue":"new"}]},"renameOutput":true,"outputKey":"=new"}]},"options":{}},"id":"b61f192f-e6e7-4b39-8def-7d2575d4923f","name":"Switch","type":"n8n-nodes-base.switch","position":[1980,1060],"typeVersion":3.2},{"parameters":{"amount":10},"id":"5d4bc389-adff-4a52-882f-acb496595eaa","name":"Wait2","type":"n8n-nodes-base.wait","position":[2160,260],"webhookId":"4a7448b4-930e-4110-b205-95c55cac5bba","typeVersion":1.1},{"parameters":{"content":"# Workflows backup to Github\n======================================================================\n\n## Introduction\nThis workflow will backup all of your existed workflows to a single Github repository.\n\nThe Backup folders' name are based on the current backup date and have default format: \"yyyy/MM/dd\" (setup at \"Create sub path\" node).\n\nThroughout the backup process, the N8N will inform user via discord with clear message about Start, Success and Failure backups.\n\n## Tech Stack\nThe following nodes / services / libraries are used in this workflow:\n\n### Nodes:\n1. **Discord:** To send message to configured setup channel.\n2. **N8N:** To get all workflows' information.\n3. **Github:** To store backup data.\n4. **Code:** To run data comparison (Existed vs Latest workflow data).\n5. **Wait:** To avoid discord message rate limit.\n\n### External libraries:\n1. **Underscore.js:** JavaScript library that provides lots of common Javascript functions, to help user save time when using code node.\n\n## Guideline\n1. Open \"Config\" node and setup the following information:\n    - **repo_owner:** Your Github username.\n    - **repo_name:** The repository that you want to store workflows backup data.\n2. Open \"Create sub path\" node and change the naming and path format of backup folder(s).\n3. Setup custom messages in 3 discord nodes:\n    - **Starting Message:** N8N inform user at the time workflow start.\n    - **Inform Success Flows:** After each success backup, N8N will notify user.\n    - **Inform Failed Flows:** After each failure backup, N8N will notify user to have appropriate action.\n    - **Completed Notifications:** Then at the final, the workflow will give user a summary.","height":1400,"width":680,"color":4},"id":"ba0e3f81-e4e6-48b8-a8c5-998db6513354","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n✅ Success to backup {{ $('Loop Over Items').item.json.name }}\n```","options":{}},"id":"2d9623d4-43f4-43ee-9a5b-303ca824c923","name":"Inform Success Flows","type":"n8n-nodes-base.discord","position":[2360,260],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"authentication":"webhook","content":"=The Git backup here. Below is my latest activity:\n```\n👉 Failed to backup {{ $('Loop Over Items').item.json.id }}\n```","options":{}},"id":"15beb3d8-57a9-40e0-a508-bdf9aa0df009","name":"Inform Failed Flows","type":"n8n-nodes-base.discord","position":[2360,440],"webhookId":"53d9dd11-ca31-4eea-8dc8-bac95c8bcc04","typeVersion":2,"credentials":{"discordWebhookApi":{"id":"eL7ekUicbhU1JdAN","name":"Discord Webhook account"}}}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Inform Failed Flows","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Completed Notification","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Inform Success Flows","type":"main","index":0}]]},"Config":{"main":[[{"node":"Merge Items","type":"main","index":1},{"node":"Get file data","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Get file":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"verifyTheDifference","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get file","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Inform Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"verifyTheDifference":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Inform Success Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"pinData":{},"meta":null}